/*general rules*/
* {
    border: 0px;
    margin: 0px;
    font-family: Whitney, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/*header*/
header {
    height: 80px;
    background-color: #255ee9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header functions*/
.header-functions {
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo*/
.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

/*link*/
.header-nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: white;
}

/*login*/
.login {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.login a {
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 30px;
}


/*jumbotron*/
.jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jumbotron-content h1 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 60px;
    height: 150px;
}

.jumbotron-content h2 {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 30px;
}

.jumbotron-content span {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.download {
    padding: 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 30px;
}

.browser {
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: #22282a;
    border-radius: 30px;
}


/*main sections and content*/
.section1-3 {
    width: 100%;
    height: 500px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.section2 {
    width: 100%;
    height: 500px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.section-content1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
}

.section-content2 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-content2 h1 {
    width: 100%;
    font-size: 40px;
    color: black;
}

.section-content2 h2 {
    width: 100%;
    padding-top: 40px;
    font-size: 15px;
    color: black;
}


/*last section*/
.lsection {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lsection-content {
    width: 60%;
    height: 100%;
}

.lsection-content h1 {
    width: 100%;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    color: black;
}

.lsection-content h3 {
    width: 100%;
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
    color: black;
}

.lsection-content h2 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 30px;
    text-align: center;
    color: black;
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.lsection-content img {
    width: 100%;
}

.lsection p {
    display: flex;
    justify-content: center;
}

.lsection a {
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: #8da1e2;
    border-radius: 30px;
}


/*footer*/
/*main footer*/
.footer-bgr {
    width: 100%;
    height: 450px;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #23272a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 70%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.main-column {
    width: 36%;
    height: 100%;
    justify-content: center;
}

.main-column h1 {
    color: #7788cd;
    padding-bottom: 30px;
}

.main-column img {
    width: 20px;
    padding-right: 10px;
}

.main-column p {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.column2 {
    width: 16%;
    height: 100%;
    justify-content: center;
}

.column2 h3 {
    font-size: 18px;
    color: #7788cd;
}

.column2 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    color: white;
}


/*footer info*/
.footer-info-bgr {
    width: 100%;
    height: 120px;
    background-color: #23272a;
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-info-content {
    width: 70%;
    height: 70%;
    border-top: solid white 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-logo {
    height: 50%;
    align-content: center;
    text-align: center;
}

.footer-info-content a {
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #8da1e2;
    border-radius: 30px;
}